/* Make the video take up the entire screen */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text box in the lower third */
#textBox {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 2.0em;
  text-align: center;
}